@font-face {
    font-family: 'Arame';
    src: url('../fonts/arame.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Antikor';
    src: url('../fonts/antikor.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bg-color: #19191e;
    --bg-color-element: #1e1e23;
    --bg-color-box: #1e1e29;
    --line-color: #333346;
    --font-color: #CCCCCC;
    --color-highlight: #01cc00;
    --color-hover-light:rgba(1,204,0, 0.5);
    --color-hover:rgba(51,51,70, 0.7);

    --card-bg-box-dark: #1e1e29;
    --card-line-box-dark: #333346;
    --card-title-dark: #FFF;
    --card-bg-title-dark: #57575F;
    --card-line-bg-title-dark: #CCCCCC;
    --card-bg-stars-dark: #333346;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-family: 'Antikor';
    transition: 0.3s;
}

/*Init: General*/
body {
    width: 100vw;
}

#content {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#topBar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    background-color: var(--bg-color-box);
    border-bottom: 1px solid var(--line-color);
}

#itemSubItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    padding: 10px 0 10px 0;
}
    #itemSubItems:hover #socialItems {
        display: flex;
    }
    #itemSubItems:hover {
        background-color: var(--line-color);
    }

#socialItems {
    display: none;
    flex-direction: column;
    width: 0;
    height: 0;

    position: relative;
    top: 28px;
    right: 216px;
    z-index: 1;
}   
    #socialItems li {
        width: 230px;
        list-style: none;

        background-color: var(--bg-color-box);
        border: 1px solid var(--line-color);    
    }
    #socialItems a {     
        text-decoration: none;
        width: 230px;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #socialItems li:hover {
        background-color: var(--color-hover-light);
        border: 1px solid var(--color-highlight);         
    }


/*Generic*/
.backgroundTransparent {
    background-color: transparent;
}
.totalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Card Technologies*/
.card-item-tech {
    display: flex;
    flex-direction: column;

    width: 240px;
    max-height: 200px;
    margin: 15px;

    background-color: var(--card-bg-box-dark);
    border: solid 1px var(--card-line-box-dark);
}

    .title-card {
        height: 30px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--card-title-dark);
        background-color: var(--card-bg-title-dark);
        border: solid 1px var(--card-line-bg-title-dark);
    }

    .icon-box-card {
        height: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
        .icon-card {
            max-height: 100px;
        }

    .stars-card {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--card-bg-stars-dark);
    }
        .star-icon {
            height: 20px;
            margin: 3px;
            background-color: transparent;
        }
/*End: Card Technologies*/

/*Card Projects*/
.card-item-project {
    display: flex;
    flex-direction: column;

    width: 240px;
    max-height: 210px;
    margin: 15px;

    background-color: var(--card-bg-box-dark);
    border: solid 1px var(--card-line-bg-title-dark);
}

    .technologies-card-project {
        display: flex;
        justify-content: center;
        height: 30px;
        background-color: var(--card-bg-title-dark);
        border: solid 1px var(--card-line-bg-title-dark);
    }

    .btn-card-project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding-top: 2px;
        text-decoration: none;
        background-color: var(--card-bg-stars-dark);
    }
        .btn-card-project:hover {
            background-color: var(--color-hover-light);
        }
/*End: Card Projects*/

@media (max-width: 1100px) {
    #topBar {
        justify-content: center;
        padding: 0;
    }
    .itemTopBar {
        display: none;
    }

}